# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Tamagotchi.Orders.Microservice.WebApi.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Otis\Source\Repos\Tamagotchi\src\web\orders-service\Tamagotchi.Orders.Microservice.WebApi\.idea\.idea.Tamagotchi.Orders.Microservice.WebApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
